*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    width: 100vw;
    height: 50vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;


}


.flexitem{
    width: 200px;
    height: 200px;
    background-color: beige;
    margin: 10px;
    padding: 10px;
    border: solid 1px;
    align-content: center; 
    text-align: center; 
    border-radius: 10px; 
    
}


img{
    width: 75%;
    border: 5px solid;
}

.imgborder{
    animation: colorchanging 10s infinite;
}


.imgsize{

    animation: imgsizing 10s infinite ;
    
}

p{
    animation: colorchanging 10s infinite;
}

@keyframes colorchanging {
    0%{
        color: rgb(195, 3, 35);
    }
    50%{
        color: rgb(87, 56, 198);
    }

    75%{
        color: rgb(16, 198, 144);

    }   
    100%{
        color: rgb(230, 206, 50);

    }   
}



@keyframes imgsizing {
    0%{
        width: 75%;
    }
    25%{
        width: 50%;
    
    }
    50%{
        width: 25%;
    }
    75%{
        width: 50%;
    }

    100%{
        width: 75%;
    }
    
}