*{
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    width: 100vw;
    height: 50vh;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;


}


.flexitem{
    width: 200px;
    height: 200px;
    background-color: beige;
    margin: 10px;
    padding: 10px;
    border: solid 1px;
    text-align: center;   
}
  


img{
    width: 75%;
}
/* body{
    animation: backgroundBG 5s;

} */

.flexitem2{
    animation: imgsize 10s 3s infinite;
}



@keyframes backgroundBG{
    0%{
        background-color: blanchedalmond;
    }
    50%{
        background-color: blueviolet;
    }

    100%{
        background-color: blanchedalmond;
    }
    
}


@keyframes imgsize {
    75%{
        width: 100px;
    }
    50%{
        width: 200px;
    }

    75%{
        width: 00px;
    }
    
}